/*
*   #BLOCKS
*   1) Logo block
*   2) Search Icon
*   3) Search Form
*   4) Email Sign-up Button
*   5) Main Menu & Hamburger Button
*   6) Footer Menu
*   7) Footer Blocks (Address & Mobile Social Icons)
*   8) Post-Footer Blocks (Copyright & Desktop Social Icons)
*   9) Recent Reports
**/



// Logo in header
.block-system-branding-block {

  h1 {
    line-height: 0;
    margin: 0;
  }

  @media screen and (max-width: 1185px) {
    max-width: 450px;
  }

  @media screen and(max-width: 1040px) {
    max-width: 350px;
  }

  @media screen and(max-width: 940px) {
    margin: 0;
    max-height: 40px;
    max-width: 87%;
  }

  @media screen and (max-width: 480px) {
    max-width: 80%;
    padding-top: 10px;
  }

  &.is-open {
    left: 20px;
    max-width: 83%;
    position: relative;
    top: -55px;
  }

}


// Hamburger Icon
.hamburger {

  &:focus {
    outline: none;
  }

  .hamburger-inner:before {
    color: $um-blue;
    content: '\2630';
    font-size: 2.55rem;
    transition: 0.25s ease-in-out;
  }

  &.is-open {

    .hamburger-inner::before {
      color: $um-blue;
      content: '\2715';
      font-size: 2.5rem;
      transform: scaleX(-1);
      transition: 0.25s ease-in-out;
    }

  }

}


// E-mail sign up
.block-email-sign-up {

  a {
    background-color: $arb-blue;
    color: #fff;
    //font-family: Montserrat Medium;
    font-size: rem(14);
    padding: rem(7) rem(30);

    &:hover {
      transition: $base-duration $base-timing;
      background-color: lighten($arb-blue, 20%);
    }

  }

}


/*Search Icon*/
.block-search-icon-block {

  span:before {
    color: $um-blue;
    font-family: "fontello";
    font-size: rem(17);
  }

}


/*Search Form*/
.block-google-cse {

  #google-cse-results {
    display: none;
  }

  .google-cse-search-box-form {
    position: relative;

    @media all and (max-width: 940px) {
      margin: 0 auto;
      width: 45%;
    }

  }

  .form-item {
    color: white;
    font-size: rem(14);
    margin: 0;

    .form-text {
      background-color: #dcdcdc !important;
      background-image: none !important;
      border: 0 none;
      border-radius: 0;
      color: $dark-gray;
      height: 40px;
      margin: 0;
      padding: 0 rem(20);
    }

    label[for=edit-query] {
      display: none;
    }

  }

  input.form-submit {
    background: url('../images/sprites/search-icon.png') no-repeat center transparent;
    height: 40px;
    margin: 0;
    position: absolute;
      top: 0;
      right: 0;
    text-indent: -9999px;
    width: 40px;

    &:focus {
      outline: none;
    }

  }

}

/*Main Menu*/
.menu--menu-main-menu.block-menu {

  .menu {
    margin: 0;

    @media screen and(max-width: 940px) {
      left: 0;
      padding: 10px 20px;
      position: absolute;
      transform: unset;
      width: 100%;
    }

  }

  li {
    display: inline;
    font-size: rem(15);
    margin: 0 30px 0 0;
    padding: 0 0 70px 0;
    position: relative;

    a {
      color: $um-blue;
      text-transform: uppercase;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }

    }

    &.menu-item--active-trail a {
      color: $blue;
    }

    &.menu-item--expanded {

      &:hover {

        > .menu {
          opacity: 1;
          max-height: 400px;

          @media all and (max-width: 940px) {
            background-color: transparent;
          }
          
        }

      }

      @media all and (max-width: 940px) {
        &:after {
          border-bottom: 2px solid $um-blue;
          border-right: 2px solid $um-blue;
          content: '';
          margin-left: 40px;
          padding: 4px;
          position: absolute;
          bottom: 5px;
          transform: rotate(-45deg);
        }

      }

    }

    > .menu {
      background-color: rgba(250,250,250,0.85);
      max-height: 0;
      min-width: 160px;
      overflow: hidden;
      opacity: 0;
      padding: 15px;
      position: absolute;
      top: 82px;
      right: 0;
      -webkit-transition: max-height, opacity 300ms ease-in-out;
      -moz-transition: max-height, opacity 300ms ease-in-out;
      -ms-transition: max-height, opacity 300ms ease-in-out;
      -o-transition: max-height, opacity 300ms ease-in-out;
      transition: max-height, opacity 300ms ease-in-out;
    }

    .region-nav.child-open & {
      > .menu {
        background-color: transparent;
        font-size: rem(15);
        opacity: 1;
        top: unset;
      }

      &.menu-item--expanded {

        &:after {
          transform: rotate(45deg);
        }

      }

    }

    .region-nav.is-open & {
      display: inline-block;
      margin: 0 0 20px 0;
      padding: 0;
      text-align: center;
      width: 100%;
    }
  }

}







/*Footer Menu*/
.footer-wrapper .block-menu {
  display: inline-block;
  float: right;

  @media screen and(max-width: 940px) {
    display: block;
    float: none;
  }

  ul {
    margin: 0 -15px 0 0;
  }

  ul li.menu-item {
    display: inline;
    margin: 0 15px;

    @media screen and(max-width: 940px) {
      display: block;
      font-size: rem(13);
      margin: 0 0 20px 0;
    }

    a {
      color: $medium-gray;
      text-transform: uppercase;

      &:hover {
        color: $yellow;
      }

      &.is-active {
        color: $yellow;
      }

    }

  }

}





/*Footer Blocks*/
#block-logoforthefooter {
  display: inline-block;
  margin: 0;

  @media screen and(max-width: 940px) {
    margin: 0 0 40px 0;
  }

}

.block-address,
.block-email {
  position: relative;
  text-align: right;

  @media screen and(max-width: 940px) {
    margin: 0 0 40px 0;
    text-align: left;
  }

  address,
  a.email {
    font-size: rem(11);
    font-style: normal;

    @media screen and(max-width: 940px) {
      font-size: rem(13);
    }

  }

  a.email {
    color: $um-maize;
  }

}

.region-footer .block-contact-info.block-social {
  display: none;

  @media screen and(max-width: 940px) {
    display: block;
    float: none;
  }

}





/*Post Footer*/
.block-copyright-block {
  display: inline-block;
  font-size: rem(11);

  a {
    color: $um-maize;
  }

}

.block-contact-info.block-social {
  float: right;
  margin: 0;

  .social{
    margin: 0 -30px 0 0;
  }

  a {
    color: transparent;
    font-size: rem(16);
    margin: 0px 30px 0 0;
    width: 20px;

    &::before {
      color: $medium-gray;
      font-size: rem(24);
    }

    &:hover {
      &::before{
        color: $um-maize;
      }

    }

  }

}

.region-post-footer .block-contact-info.block-social {
  @media screen and(max-width: 940px) {
    display: none;
  }

}


.block-views-blockreport-recent-reports {
  h2 {
    color: $um-blue;
    font-family: $heading-font-family;
    font-size: 25px;
    margin: 0 0 30px 0;
  }
}

// 404
#block-404menu {
  padding: 25px;
  text-align: center;

  .menu {
    text-align: center;
  }

}