/*
*   #BLOCKS
**/





/*Header Blocks*/
.block-system-branding-block {
  display: inline-block;
  margin: 0 0 0 35px;

  @media screen and(max-width: 768px) {
    margin: 0;
    width: 80%;

    img {
      width: 100%;
    }

  }

}

.block-search-icon-block {

  display: inline-block;
  float: right;
  height: 25px;
  margin: 0 20px 0 15px;
  width: 25px;

  @media screen and(max-width: 768px) {
    display: none;
  }

  span {
    content: '\1f50d';
    font-family: "fontello";
    font-size: rem(32);
  }

}

.block-email-sign-up {
  display: inline-block;
  float: right;
  margin: 0 0 0 20px;
  text-transform: uppercase;

  @media screen and(max-width: 768px) {
    display: none;
  }

}

/*Main Menu*/
header .block-menu {
  display: inline-block;
  float: right;

  ul li {
    display: inline;
    margin: 0 15px;

    @media screen and(max-width: 768px) {
      display: none;
    }

    a {
      color: $um-blue;
      text-transform: uppercase;

      &:hover {
        color: $blue;
      }

    }

  }

  ul.menu::before {
    color: $um-blue;
    content: '\2630';
    display: none;
    font-size: rem(25);

    @media screen and(max-width: 768px) {
      display: inline-block;
    }

  }

}





/*Footer Menu*/
footer .block-menu {
  display: inline-block;
  float: right;

  @media screen and(max-width: 768px) {
    display: block;
    float: none;
  }

  ul {
    margin: 0;
  }

  ul li.menu-item {
    display: inline;
    margin: 0 15px;

    @media screen and(max-width: 768px) {
      display: block;
      font-size: rem(13);
      margin: 0 0 20px 0;
    }

    a {
      color: $medium-gray;
      text-transform: uppercase;

      &:hover {
        color: $yellow;
      }

      &.is-active {
        color: $yellow;
      }

    }

  }

}



/*Footer Blocks*/
#block-logoforthefooter {   //this block needs to be re-created, find better selector
  display: inline-block;
  margin: 0 0 0 35px;

  @media screen and(max-width: 768px) {
    margin: 0 0 40px 0;
    width: 80%;
  }

}

.block-address {
  position: relative;
  text-align: right;

  @media screen and(max-width: 768px) {
    text-align: left;
  }

  address {
    font-size: rem(11);
    font-style: normal;

    @media screen and(max-width: 768px) {
      font-size: rem(13);
    }

  }

}


/*Post Footer*/
.block-copyright-block {
  display: inline-block;

  @media screen and(max-width: 768px) {
    font-size: rem(11);
  }
}

.block-contact-info.block-social {      //needs fontello content
  float: right;

  a {
    height: 16px;
    margin: 0px 15px;
    text-indent: -5000px;
  }

}