/*
*   #Entity/Section-Types
*
*   - may want to move .field--.... into _field.scss and use this just for
*     section-types now that there are classes for that
*
**/



/*Featured Report*/
.section-type-featured-report {
  background-color: $cedar;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .featured-report-image {
    width: 45%;
  }

  .featured-report-text {
    padding: 3% 5% 3% 60px;
    width:50%;
  }

  @media screen and(max-width: 768px) {
    flex-direction: column;

    .featured-report-image {
      max-height: 250px;
      overflow: hidden;
      width: 100%;
    }

    .featured-report-text {
      padding: 25px 20px;
      width: 100%;
    }

  }

}




/*Sponsors*/
.section-type-sponsors {
  border-top: 1px solid $medium-gray;
  margin: 0px auto;
  padding: 40px 3rem 60px 3rem;
  width: 100%;

  @media screen and(max-width: 768px) {
    padding: 30px 2rem 25px 2rem;
  }

}

.component-sponsor  {
  display: inline-block;

  img {
    height: 40px;
    width: auto;
  }

}





/*Highlight*/
.section-type-highlight {
  background-color: $gainsboro-gray;
  padding: 70px 3rem;

  @media screen and(max-width: 768px) {
    padding: 20px;
  }

  .highlight-content {
    background-color: #fff;
    display: flex;
    margin: 0 auto;

    @media screen and(max-width: 768px) {
      flex-direction: column;
    }

  }

  .highlight-media {
    height: auto;
    width: 60%;

    @media screen and(max-width: 768px) {
      width: 100%;
    }

  }

  .group-highlight-text {
    padding: 70px 60px;

    @media screen and(max-width: 768px) {
      padding: 28px 25px;
    }

  }

}




/*Testimonial*/
.section-type-testimonial {
  padding: 0 6rem;
  position: relative;

  .testimonial-text {
    display: inline-block;
    margin: 115px 3rem 90px 3rem;
    max-width: 40%;
  }

  .testimonial-image {
    display: inline-flex;
    height: 100%;
    margin: 0 10%;
    position: absolute;
    width: 25%;
  }

}




/*Media*/
.field--name-field-media-media {
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  max-width: 940px

  img {
    height: 350px;
    object-fit: cover;
    width: 100%;
  }

}





/*Longtext*/
.field--name-field-longtext-text {
  margin: 0 auto;
  width: 55%;

  p {
    margin-bottom: 25px;
  }

  p:last-child {
    margin-bottom: 40px;
  }

}





/*Infographics*/

.section-type-infographic {
  margin-bottom: 40px;

  .field--name-field-infographic-image {
    margin: 0 auto;
    width: 55%;

    img {
      height: 350px;
      object-fit: cover;
    }

  }

  .field--name-field-infographic-caption {
    font-size: rem(14);
    font-style: normal;
    margin: 0 auto;
    width: 55%;
  }

}





