/*
*   #Entity/Section-Types
*
*   - may want to move .field--.... into _field.scss and use this just for
*     section-types now that there are classes for that
*
**/



/*Featured Report*/
.section-type-featured-report {
  background-color: $cedar;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .featured-report-image {
    width: 45%;
  }

  .featured-report-text {
    padding: 7% 10% 4% 0;
    width: 50%;
  }

  @media screen and(max-width: 940px) {
    flex-direction: column;

    .featured-report-image {
      height: 300px;
      overflow: hidden;
      width: 100%;
    }

    .featured-report-text {
      padding: 25px 20px;
      width: 100%;
    }

  }

}




/*
*
* Sponsors
*
**/
.section-type-sponsors {
  border-top: 1px solid $medium-gray;
  margin: 0 auto;
  padding: 40px 20px 60px;
  max-width: 1340px;

  @media screen and(max-width: 1170px) {
    padding: 40px 0 60px;
  }

  @media screen and(max-width: 940px) {
    padding: 30px 2rem 25px 2rem;
  }

}

.component-sponsor  {
  display: inline-block;

  img {
    height: 40px;
    object-fit: contain;
  }

}





/*Highlight*/
.section-type-highlight {
  background-color: $gainsboro-gray;
  padding: 70px 3rem;

  @media screen and(max-width: 940px) {
    padding: 20px;
  }

  .highlight-content {
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    max-width: 1340px;

    @media screen and(max-width: 940px) {
      flex-direction: column;
    }

  }

  .highlight-media,
  .group-highlight-text {
    display: inline-block;
    vertical-align: middle;
  }

  .highlight-media {
    height: auto;
    width: 60%;

    @media screen and(max-width: 940px) {
      width: 100%;
    }

  }

  .group-highlight-text {
    padding: 70px 60px;
    width: 35%;

    @media screen and(max-width: 940px) {
      padding: 28px 25px;
    }

  }

}




/*Testimonial*/
.section-type-testimonial {
  margin: 0 auto;
  max-width: 1100px;
  position: relative;

  @media screen and(max-width: 940px) {
    padding: 0 20px;
  }

  .testimonial-text {
    display: inline-block;
    margin: 115px 3rem 90px 3rem;
    max-width: 55%;

    @media screen and(max-width: 940px) {
      display: block;
      margin: 26px 0;
      max-width: 100%;
      text-align: center;
    }

  }

  .testimonial-image {
    display: inline-flex;
    height: 100%;
    position: absolute;

    @media screen and(max-width: 940px) {
      display: block;
      height: auto;
      position: relative;
      width: 100%;
      text-align: center;
    }

  }

}




/*Media*/
.section-type-media {
  margin: 0 auto 40px auto;
  max-width: 980px;
  padding: 0 20px;
}




/*Heading*/
.section-type-heading {
  margin:0 auto 30px auto;
  max-width: 980px;
  padding: 0 20px;
}




/*Longtext*/
.section-type-longtext {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 20px;

  p {
    margin-bottom: 25px;
  }

  p:last-child {
    margin-bottom: 40px;
  }

  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $mine-shaft;
    }

  }

}




/*Pull Quote*/
.section-type-pull-quote {
  border-bottom: 1px solid $medium-gray;
  border-top: 1px solid $medium-gray;
  margin: 40px auto;
  max-width: 980px;
  padding: 35px 40px;
  text-align: center;

  @media screen and(max-width: 940px) {
    margin: 40px 20px;
  }

}





/*Infographics*/
.section-type-infographic {
  margin: 0 auto 40px auto;
  max-width: 940px;
  position: relative;

  @media screen and(max-width: 940px) {
    margin: 0 20px 40px 20px;
  }
}
