/*
*   #FIELDS
**/




/*Featured Report*/
.field--name-field-featured-report-image {
  height: 100%;
  line-height: 0px;
  width: 100%;

  img {
    height: 100%;
    line-height: 0px;
    object-fit: cover;
    width: 100%;

    @media screen and(max-width: 940px) {
      object-fit: cover;
    }

  }

}

.field--name-field-featured-report-title {
  font-size: rem(40);
  font-weight: 600;
  line-height: rem(50);
  margin: 0 0 30px 0;
  padding-top: 75px;

  @media screen and(max-width: 940px) {
    font-size: rem(28px);
    line-height: rem(35px);
    margin: 0 0 20px 0;
    padding-top: 0;
  }

}

.field--name-field-featured-report-subtitle {
  font-family: 'Lora', serif;
  font-size: rem(18);
  margin: 0 0 49px 0;

  @media screen and(max-width: 940px) {
    font-size: rem(13);
    margin: 0 0 35px;
  }

}

.field--name-field-featured-report-button {
  a {
    background-color: $um-maize;
    color: $cedar;
    display: inline;
    font-family: "Montserrat";
    font-size: rem(14);
    font-weight: 600;
    padding: rem(14) rem(35);
    text-align: center;
    text-transform: uppercase;

    @media screen and(max-width: 940px) {
      font-size: rem(11);
      margin: 0 0 10px 0;
      padding: rem(11) rem(27.5);
    }

    &:hover {
      background-color: $um-maize-lightned;
      transition: $base-duration $base-timing;
    }

  }

}





/*Sponsors*/
.field-group-sponsors-primary {
  vertical-align: top;
  display: inline-block;
  width: 45%;

  @media screen and(max-width: 940px) {
    display: block;
    text-align: center;
    width: 100%;
  }

  .field--name-field-sponsors-primary__label {
    color: $um-blue;
    font-size: rem(16);
    font-weight: 500;
    margin:0 0 30px 0;

    @media screen and(max-width: 940px){
      font-weight: rem(14);
      margin: 0 0 25px 0;
    }

  }

  .component-sponsor {
    width: 85%;

    @media screen and(max-width: 940px) {
      padding: 0 0 25px 0;
    }

  }

}

.field-group-sponsors-secondary {
  vertical-align: top;
  display: inline-block;
  width: 50%;

  @media screen and(max-width: 940px) {
    display: block;
    text-align: center;
    width: 100%;
  }

  div.field__item {
    display: inline-block;

    @media screen and(max-width: 940px) {
      display: block;
    }

    div {
      display: inline-block;
      width: 100%;

      @media screen and(max-width: 940px) {
        display: block;
      }

    }

  }

  .field--name-field-sponsors-secondary-label {
    color: $um-blue;
    font-size: rem(16);
    font-weight: 500;
    margin-bottom: 30px;

    @media screen and(max-width: 940px){
      font-weight: rem(14);
      margin: 0 0 25px 0;
    }

  }

  .field--name-field-sponsors-secondary-sponsor {

    > .field__item {
      margin: 0 40px 0 0;
      padding: 7.5px 30px 7.5px 0;
      width: 45%;

      @media screen and(max-width: 940px) {
        border: none;
        margin: 0 0 0 0;
        padding: 0 0 25px 0;
        width: initial;
      }

    }

    .field__item:last-child {
      border: none;
      margin: 0 0;
      padding: 7.5px 0;
    }

  }

}



/*Highlight*/
.field--name-field-highlight-media {
  height: 100%;
  line-height: 0;

  article.media {
    height: 100%;
  }

  .field--name-field-image {
    height: 100%;
  }

  img {
    height: 100%;
    line-height: 0px;
    object-fit: cover;
    width: 100%;

    @media screen and(max-width: 940px) {
      object-fit:contain;
    }

  }

}

.field--name-field-highlight-title {
  color: $blue-zodiac;
  font-size: rem(22);
  font-weight: 600;
  margin: 0 0 25px 0;
  max-width: 185px;

  @media screen and(max-width: 940px) {
    font-size: rem(24);
    margin: 0 0 24px 0;
  }

}

.field--name-field-highlight-text {
  font-size: rem(18px);
  margin: 0 0 63px 0;

  @media screen and (max-width: 1120px) {
    font-size: rem(16px);
    margin: 0 0 35px 0;
  }

  @media screen and(max-width: 940px) {
    font-size: rem(12px);
    margin: 0 0 35px 0;
  }

}

.field--name-field-highlight-button {

  a {
    background-color: $arb-blue;
    color: white;
    font-size: rem(13);
    padding: rem(13) rem(32.5);
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: $arb-blue-lightened;
      transition: $base-duration $base-timing;
    }

    @media screen and(max-width: 940px) {
      font-size: rem(11);
      padding: rem(11) rem(30);
    }

  }

}


/*Testimonial*\
*[1]   her hair starts to get chopped off around 1745px wide
*[2]   This takes care of white space at btm of img file, probably need to remove later
**/

.field--name-field-testimonial-quote {

  font-family: 'Lora';
  font-size: rem(17.6);
  font-style: italic;
  font-weight: 200;
  letter-spacing: rem(0.1);
  line-height: rem(34);
  margin: 0 0 30px 0;

  &::before {
    content: '\201C';
  }

  &::after {
    content: '\201D';
  }

  @media screen and(max-width: 940px) {
    margin: 0 0 26px 0;
    text-align: center;
  }

}

.field--name-field-testimonial-author {
  color: $dark-gray;
  font-family: 'Montserrat';
  font-size: rem(15);
  font-weight: 600;
  margin-bottom: 12px;

  &::before {
    content: '\2013';
    font-size: rem(18);
    font-weight: 600;
    margin: 0 5px;
    padding: 3px 0 0 0;
  }

  @media screen and(max-width: 940px) {
    margin: 0 0 7px 0;
  }

}

.field--name-field-testimonial-credentials {
  font-size: rem(11);
  font-weight: 400;
  text-transform: uppercase;

  @media screen and(max-width: 940px) {
    margin: 0;
  }

}

/*Media*/
.field--name-field-media-media {
  img {
    object-fit: cover;
    width: 100%;
  }

}




/*Heading*/
.field--name-field-heading-heading {
  color: $um-blue;
  font-size: rem(25);
  font-weight: 600;
}




/*Pull Quote*/
.field--name-field-pull-quote-quote {

  font-family: 'Lora';
  font-size: rem(24);
  font-style: italic;
  font-weight: 200;
  letter-spacing: rem(0.1);
  line-height: rem(48);
  margin: 0 0 25px 0;
  text-align: center;

  &::before {
    content: '\201C';
  }

  &::after {
    content: '\201D';
  }

}

.field--name-field-pull-quote-author {
  display: inline-block;
  font-size: rem(15);
  font-weight: 600;

  &::before {
    content: '\2013';
  }

}

.field--name-field-pull-quote-credentials {
  display: inline-block;
  font-size: rem(11);
  text-transform: uppercase;
}





/*Infographic*/
.field--name-field-infographic-image {
  line-height: 0;
  position: relative;
  width: 100%;

  img {
    line-height: 0;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

}

.share-and-download-wrapper {
  background-color: $arb-blue;
  color: white;
  display: inline-block;
  font-family: "Montserrat Bold";
  font-size: rem(12);
  padding: 0 0 0 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transform: translateY(-100%);
  z-index: 99;

  .share-links {
    display: inline-block;
    padding-top: 4px;
    vertical-align: middle;

    a::before {
      color: white;
      margin: 0 12px 0 0;
    }

    a:hover::before {
      color: $um-maize;
    }

  }

  a {
    color: white;

    &:hover {
      color: $um-maize;
    }

  }

  .download-button {
    display: inline-block;
    vertical-align: middle;

    &::after {
      content: '\2b07';
      margin: 0 12px 0 10px;
    }
  }

  .share-parent-text {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }

}

.field--name-field-infographic-caption {
  font-family: 'Lora';
  font-size: rem(12);
}
