/*
*
 */

/*Page Hero Fields*/
.node--type-page {

  .field--name-field-page-hero {
    margin: 0 0 60px 0;

    .field-type-text {
      display: inline-block;
      margin: 0 auto;
      width: 35%;
    }

    &.field--type-image {
      height: 300px;
      max-height: 300px;
      min-width: 100%;
      width: 100%;

      img {
        max-height: 300px;
        object-fit: cover;
        object-position: 0px;
        width: 100%;
      }

    }

  }

}