/*
*   #REGION - General positioning of blocks within regions
*
*   1) region-header - branding block, hamburger
*   2) region-nav - email signup, search icon, main menu, search form
*
*
**/


/*Header*/
.region-header {

  .block-system-branding-block {
    display: inline-block;
    margin: 0 50px 0 0;

    @media all and (max-width: 940px) {
      margin: 0;
    }
  }

  .hamburger {
    background-color: unset;
    display: none;
    float: right;
    padding: 0;

    @media all and(max-width: 940px) {
      display: inline-block;
    }

  }

  @media all and (max-width: 1230px) {
    max-width: 43%;
  }

  @media all and (max-width: 940px) {
    max-width: 100%;
  }

}

.region-nav {

  .inner {
    text-transform: uppercase;
  }

  .block-email-sign-up {      // make mixin for display, float, transform?
    display: inline-block;
    float: right;
    //transform: translateY(50%);

    @media all and (max-width: 940px) {
      display: none;
      position: relative;
      text-align: center;
      top: 240px;
      width: 100%;
      z-index: 2;

    }

  }

  .menu--menu-main-menu {
    display: inline-block;
    float: right;
    //transform: translateY(50%);
    //z-index: 1000;
  }

  .block-search-icon-block {
    display: inline-block;
    float: right;
    margin: 0 30px 0 0;
    //transform: translateY(50%);
    z-index: 2;

    @media all and (max-width: 1320px) {
      margin: 0 2vw 0 0;
    }

    @media all and (max-width: 940px) {
      display: none;
    }

  }

  .block-google-cse {
    opacity: 0;
    position: absolute;
      top: 124px;
      right: 16.5%; //200px?
    transform: translateY(-100%);
    transition: transform 200ms cubic-bezier(.07,.25,.97,.82);
    min-width: 25%;
    z-index: -1;

    /*States*/
    &.is-open {
      opacity: 1;
      transform: unset;
      z-index: 2;
    }

    @media all and (max-width: 940px) {
      display: none;
      opacity: 1;
      position: absolute;
      top: 175px;
      right: unset;
      transform: unset;
      width: 100%;
      z-index: 2;
    }

    .header-fixed & {
      min-width: 50%;
      top: 64px;
      right: 200px;

      @media all and (max-width: 940px) {
        top: 175px;
        right: unset;
      }

    }

  }

  /*States*/
  &.is-open {
    .block-email-sign-up,
    .block-google-cse,
    .menu--menu-main-menu {
      display: block;
    }

  }

  &.child-open {

    .block-email-sign-up {
      top: 300px;
    }

    .block-google-cse {
      top: 240px;
    }

  }

  @media all and (max-width: 1130px) {
    margin: 0 -20px 0 0;
  }

}

.region-footer,
.region-post-footer {

  .inner {
    margin: 0 auto;
    max-width: 1340px;
  }

}

.region-footer{
  padding: 60px 3rem 35px 3rem;
  background-color: $footer-background;
  border-bottom: 1px solid #fff;

  @media screen and(max-width: 940px) {
    padding: 30px 20px 25px 30px;
  }

}

.region-post-footer {
  padding:40px 3rem;
  background-color: $postfooter-background;

  @media screen and(max-width: 940px) {
    padding: 25px 20px;
  }

}

footer.footer-wrapper {
  color: $medium-gray;
}
