.region-header {
  background-color: #fff;
  height: 126px;
  padding:40px 3rem;

  @media screen and(max-width: 1060px) {
    padding: 40px 1.5rem;
  }

  @media screen and(max-width: 940px) {
    height: 70px;
    padding: 15px 20px;
  }

  .inner {
    padding: 0 2rem;

    @media screen and(max-width: 1060px) {
      padding: 0 1rem;
    }
  }

}

.region-footer{
  padding: 60px 3rem 35px 3rem;
  background-color: $footer-background;
  border-bottom: 1px solid #fff;

  @media screen and(max-width: 940px) {
    padding: 30px 20px 25px 30px;
  }

}

.region-post-footer {
  padding:40px 3rem;
  background-color: $postfooter-background;

  @media screen and(max-width: 940px) {
    padding: 25px 20px;
  }

}