.region-header {
  @include padding(40px 3rem);
  background-color: #fff;
}

.region-footer{
  @include padding(60px 3rem 35px 3rem);
  background-color: $footer-background;
}

.region-post-footer {
  @include padding(40px 3rem);
  background-color: $postfooter-background;
}