.view-id-report ul {
  text-align: center;
}

.view-id-report .pager__item a {
  background-color: $blue;
  color: white;
  padding: .5rem 1rem;
}

.view-id-report .pager__item a:hover {
  background-color: #3ca0ef;
  text-decoration: none;
  transition: 250ms ease-in-out;
}

.view-id-report .views-infinite-scroll-content-wrapper .views-row {
  margin-bottom: 3rem;
}

.view-id-report .views-infinite-scroll-content-wrapper .views-row:after {
  clear: both;
  content: '';
  display: table;
}

.views-exposed-form {
  margin-bottom: 1rem;

  .form--inline {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .form-item {
    max-width: 200px;
    min-width: 150px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    font-size: 18px;
    font-weight: 700;
  }

  select {
    font-size: 1em;
    padding: 0.5em;
    height: 37px;
  }

  .bef-datepicker {
    margin-bottom: 1.5em;
  }

  input[type="submit"] {
   margin-top: 2em;
  }

}
