$sliding-panel-breakpoint: $large-screen-down;
$sliding-panel-width: 220px;
$sliding-panel-background: #fff;

.sliding-panel-button,
.sliding-panel-close {
  @include display(none);
  
  @include media($sliding-panel-breakpoint) {
    @include display(block);
  }
  
}

.sliding-panel-content {
  
  @include media($sliding-panel-breakpoint) {
    @include display(block);
    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(- $sliding-panel-width));
    @include transition(all 0.25s linear);
    background: $sliding-panel-background;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;

    &.is-visible {
      @include transform(translateX(0));
    }
    
  }
  
}

.sliding-panel-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}