/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-menu {
  background-image: url(png/sprites.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
