html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #0c57aa;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 250ms ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #0a4688;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #0c57aa; }

fieldset {
  background-color: #ececec;
  border: 1px solid #b3b3b3;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 250ms ease-in-out;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #8f8f8f; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #0c57aa;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(10, 75, 146, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #b3b3b3; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #868686;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #b3b3b3;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans/opensans/opensans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans/opensans.woff2") format("woff2"), url("../fonts/opensans/opensans/opensans.woff") format("woff"); }
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lora/Lora-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Lora Italic";
  font-style: normal;
  font-weight: italic;
  src: url("../fonts/Lora/Lora-Italic.ttf") format("truetype"); }
body {
  color: #5f5f5f;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Bold";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #0c57aa;
  text-decoration: none;
  transition: color 250ms ease-in-out; }
  a:active, a:focus, a:hover {
    color: #094180; }

hr {
  border-bottom: 1px solid #b3b3b3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

div.error {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background: #fbe3e4;
  border: 0;
  color: #97161b;
  text-align: center; }
  div.error a {
    color: #6a0f13;
    border-bottom: 1px solid rgba(106, 15, 19, 0.3); }
    div.error a:hover {
      color: #110203; }

div.status {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background: #e6efc2;
  border: 0;
  color: #56651a;
  text-align: center; }
  div.status a {
    color: #333c10;
    border-bottom: 1px solid rgba(51, 60, 16, 0.3); }
    div.status a:hover {
      color: black; }

div.warning {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background: #fff6bf;
  border: 0;
  color: #8c7800;
  text-align: center; }
  div.warning a {
    color: #594c00;
    border-bottom: 1px solid rgba(89, 76, 0, 0.3); }
    div.warning a:hover {
      color: black; }

.sliding-panel-button,
.sliding-panel-close {
  display: none; }
  @media screen and (max-width: 1024px) {
    .sliding-panel-button,
    .sliding-panel-close {
      display: block; } }

@media screen and (max-width: 1024px) {
  .sliding-panel-content {
    display: block;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 220px;
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999; }
    .sliding-panel-content.is-visible {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

#tabs {
  line-height: 1.5;
  padding: 0; }
  #tabs::after {
    clear: both;
    content: "";
    display: table; }
  #tabs ul {
    padding: 0;
    border-color: #b3b3b3; }
  #tabs li {
    list-style: none; }
    @media screen and (min-width: 960px) {
      #tabs li {
        display: inline; } }
  #tabs a {
    background-color: #fff;
    border-top: 1px solid #b3b3b3;
    color: #5f5f5f;
    display: block;
    font-weight: 400;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 960px) {
      #tabs a {
        display: inline-block;
        border: 0; } }
    #tabs a:hover {
      color: #0c57aa; }
    #tabs a:focus {
      outline: none; }
    #tabs a.active {
      border-bottom: 0; }
      @media screen and (min-width: 960px) {
        #tabs a.active {
          border: 1px solid #b3b3b3;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }

/*
*   #BLOCKS
**/
/*Header Blocks*/
.block-system-branding-block {
  display: inline-block;
  margin: 0 0 0 35px; }
  @media screen and (max-width: 768px) {
    .block-system-branding-block {
      margin: 0;
      width: 80%; }
      .block-system-branding-block img {
        width: 100%; } }

.block-search-icon-block {
  display: inline-block;
  float: right;
  height: 25px;
  margin: 0 20px 0 15px;
  width: 25px; }
  @media screen and (max-width: 768px) {
    .block-search-icon-block {
      display: none; } }
  .block-search-icon-block span {
    content: '\1f50d';
    font-family: "fontello";
    font-size: 2rem; }

.block-email-sign-up {
  display: inline-block;
  float: right;
  margin: 0 0 0 20px;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .block-email-sign-up {
      display: none; } }

/*Main Menu*/
header .block-menu {
  display: inline-block;
  float: right; }
  header .block-menu ul li {
    display: inline;
    margin: 0 15px; }
    @media screen and (max-width: 768px) {
      header .block-menu ul li {
        display: none; } }
    header .block-menu ul li a {
      color: #00264b;
      text-transform: uppercase; }
      header .block-menu ul li a:hover {
        color: #0c57aa; }
  header .block-menu ul.menu::before {
    color: #00264b;
    content: '\2630';
    display: none;
    font-size: 1.5625rem; }
    @media screen and (max-width: 768px) {
      header .block-menu ul.menu::before {
        display: inline-block; } }

/*Footer Menu*/
footer .block-menu {
  display: inline-block;
  float: right; }
  @media screen and (max-width: 768px) {
    footer .block-menu {
      display: block;
      float: none; } }
  footer .block-menu ul {
    margin: 0; }
  footer .block-menu ul li.menu-item {
    display: inline;
    margin: 0 15px; }
    @media screen and (max-width: 768px) {
      footer .block-menu ul li.menu-item {
        display: block;
        font-size: 0.8125rem;
        margin: 0 0 20px 0; } }
    footer .block-menu ul li.menu-item a {
      color: #969696;
      text-transform: uppercase; }
      footer .block-menu ul li.menu-item a:hover {
        color: #ffcc05; }
      footer .block-menu ul li.menu-item a.is-active {
        color: #ffcc05; }

/*Footer Blocks*/
#block-logoforthefooter {
  display: inline-block;
  margin: 0 0 0 35px; }
  @media screen and (max-width: 768px) {
    #block-logoforthefooter {
      margin: 0 0 40px 0;
      width: 80%; } }

.block-address {
  position: relative;
  text-align: right; }
  @media screen and (max-width: 768px) {
    .block-address {
      text-align: left; } }
  .block-address address {
    font-size: 0.6875rem;
    font-style: normal; }
    @media screen and (max-width: 768px) {
      .block-address address {
        font-size: 0.8125rem; } }

/*Post Footer*/
.block-copyright-block {
  display: inline-block;
  font-size: 0.6875rem; }

.block-contact-info.block-social {
  float: right; }
  .block-contact-info.block-social a {
    height: 16px;
    margin: 0px 15px;
    text-indent: -5000px; }

/*
*   #Entity/Section-Types
*
*   - may want to move .field--.... into _field.scss and use this just for
*     section-types now that there are classes for that
*
**/
/*Featured Report*/
.section-type-featured-report {
  background-color: #431D16;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .section-type-featured-report .featured-report-image {
    width: 45%; }
  .section-type-featured-report .featured-report-text {
    padding: 3% 5% 3% 60px;
    width: 50%; }
  @media screen and (max-width: 768px) {
    .section-type-featured-report {
      flex-direction: column; }
      .section-type-featured-report .featured-report-image {
        max-height: 250px;
        overflow: hidden;
        width: 100%; }
      .section-type-featured-report .featured-report-text {
        padding: 25px 20px;
        width: 100%; } }

/*Sponsors*/
.section-type-sponsors {
  border-top: 1px solid #969696;
  margin: 0 auto;
  padding: 40px 3rem 60px 3rem;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .section-type-sponsors {
      padding: 30px 2rem 25px 2rem; } }

.component-sponsor {
  display: inline-block; }
  .component-sponsor img {
    height: 40px;
    width: auto; }

/*Highlight*/
.section-type-highlight {
  background-color: #e6e6e6;
  padding: 70px 3rem; }
  @media screen and (max-width: 768px) {
    .section-type-highlight {
      padding: 20px; } }
  .section-type-highlight .highlight-content {
    background-color: #fff;
    display: flex;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .section-type-highlight .highlight-content {
        flex-direction: column; } }
  .section-type-highlight .highlight-media {
    height: auto;
    width: 60%; }
    @media screen and (max-width: 768px) {
      .section-type-highlight .highlight-media {
        width: 100%; } }
  .section-type-highlight .group-highlight-text {
    padding: 70px 60px; }
    @media screen and (max-width: 768px) {
      .section-type-highlight .group-highlight-text {
        padding: 28px 25px; } }

/*Testimonial*/
.section-type-testimonial {
  padding: 0 6rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .section-type-testimonial {
      padding: 0 20px; } }
  .section-type-testimonial .testimonial-text {
    display: inline-block;
    margin: 115px 3rem 90px 3rem;
    max-width: 40%; }
    @media screen and (max-width: 768px) {
      .section-type-testimonial .testimonial-text {
        display: block;
        margin: 26px 0;
        max-width: 100%;
        text-align: center; } }
  .section-type-testimonial .testimonial-image {
    display: inline-flex;
    height: 100%;
    margin: 0 10%;
    position: absolute;
    width: 25%; }
    @media screen and (max-width: 768px) {
      .section-type-testimonial .testimonial-image {
        display: block;
        height: auto;
        margin: 0 0;
        position: relative;
        width: 100%;
        text-align: center; } }

/*Media*/
.section-type-media {
  margin: 0 auto 40px auto;
  max-width: 980px;
  padding: 0 20px; }

/*Heading*/
.section-type-heading {
  margin: 0 auto 30px auto;
  max-width: 980px;
  padding: 0 20px; }

/*Longtext*/
.section-type-longtext {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 20px; }
  .section-type-longtext p {
    margin-bottom: 25px; }
  .section-type-longtext p:last-child {
    margin-bottom: 40px; }

/*Pull Quote*/
.section-type-pull-quote {
  border-bottom: 1px solid #969696;
  border-top: 1px solid #969696;
  margin: 40px auto;
  max-width: 980px;
  padding: 35px 40px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .section-type-pull-quote {
      margin: 40px 20px; } }

/*Infographics*/
.section-type-infographic {
  margin: 0 auto 40px auto;
  max-width: 940px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .section-type-infographic {
      margin: 0 20px 40px 20px; } }

/*
*
 */
/*Page*/
.path-frontpage .field--name-field-title {
  display: none; }

.node--type-page .field--name-field-page-hero {
  margin: 0 0 60px 0; }
  .node--type-page .field--name-field-page-hero .field-type-text {
    display: inline-block;
    margin: 0 auto;
    width: 35%; }
  .node--type-page .field--name-field-page-hero.field--type-image {
    height: 300px;
    max-height: 300px;
    min-width: 100%;
    width: 100%; }
    .node--type-page .field--name-field-page-hero.field--type-image img {
      max-height: 300px;
      object-fit: cover;
      object-position: 0px;
      width: 100%; }
.node--type-page .field-group-page-hero {
  position: relative; }
  .node--type-page .field-group-page-hero .field--name-field-title {
    color: #fff;
    font-size: 2.75rem;
    font-weight: 600;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 99; }

/*Webform*/
.node--type-webform .image-form-wrapper {
  background-color: #1dadff;
  display: flex; }
  @media screen and (max-width: 768px) {
    .node--type-webform .image-form-wrapper {
      flex-direction: column;
      width: 100%; } }
.node--type-webform .field--name-field-form-image {
  height: auto;
  line-height: 0px;
  max-width: 55%; }
  @media screen and (max-width: 768px) {
    .node--type-webform .field--name-field-form-image {
      margin: 0 0 30px 0;
      max-width: 100%; } }
  .node--type-webform .field--name-field-form-image img {
    line-height: 0px; }
.node--type-webform .field-group-form-text {
  color: white;
  padding: 50px 10% 50px 60px; }
  @media screen and (max-width: 768px) {
    .node--type-webform .field-group-form-text {
      padding: 0 20px; } }
.node--type-webform .field--name-field-title {
  color: #00264b;
  font-family: 'Montserrat Bold';
  font-size: 2.25rem;
  letter-spacing: 0.00625rem;
  margin: 0 0 35px 0;
  text-align: center; }
.node--type-webform .field--name-field-form-text {
  font-family: 'Lora';
  font-size: 1.3125rem;
  margin: 0 auto 35px auto;
  max-width: 75%;
  text-align: center; }
@media screen and (max-width: 768px) {
  .node--type-webform .field--name-field-form-webform {
    margin: 0 auto;
    max-width: 75%; } }
.node--type-webform .field--name-field-form-webform .form-item {
  height: 70px;
  margin: 0 0 30px 0;
  max-width: 65%; }
  @media screen and (max-width: 768px) {
    .node--type-webform .field--name-field-form-webform .form-item {
      margin: 0 0 30px 0;
      max-width: 100%; } }
  .node--type-webform .field--name-field-form-webform .form-item label {
    color: #2d2d2d;
    font-size: 11px;
    margin: 0 0 12px 0;
    text-transform: uppercase; }
    .node--type-webform .field--name-field-form-webform .form-item label::after {
      content: '\003A';
      font-size: 0.875rem;
      position: relative;
      bottom: 1px;
      left: 2px; }
  .node--type-webform .field--name-field-form-webform .form-item input {
    background-color: #dcdcdc;
    border-radius: unset;
    color: #5f5f5f;
    height: 40px;
    padding: 15px 20px; }
.node--type-webform .field--name-field-form-webform .form-actions input {
  background-color: #0f6cb6;
  border-radius: unset;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  margin: 0 0 40px 0;
  padding: 12px 30px;
  text-transform: uppercase; }

.region-header {
  padding: 40px 3rem;
  background-color: #fff; }
  @media screen and (max-width: 768px) {
    .region-header {
      padding: 20px; } }

.region-footer {
  padding: 60px 3rem 35px 3rem;
  background-color: #37383A; }
  @media screen and (max-width: 768px) {
    .region-footer {
      padding: 30px 20px 25px 30px; } }

.region-post-footer {
  padding: 40px 3rem;
  background-color: #292a2c; }
  @media screen and (max-width: 768px) {
    .region-post-footer {
      padding: 25px 20px; } }

/*
*   #FIELDS
**/
/*Featured Report*/
.field--name-field-featured-report-image {
  height: 100%;
  line-height: 0px;
  width: 100%; }
  .field--name-field-featured-report-image img {
    height: auto;
    line-height: 0px;
    object-fit: cover;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .field--name-field-featured-report-image img {
        object-fit: contain; } }

.field--name-field-featured-report-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.125rem;
  margin: 0 0 30px 0; }
  @media screen and (max-width: 768px) {
    .field--name-field-featured-report-title {
      font-size: 1.75rem;
      line-height: 2.1875rem;
      margin: 0 0 20px 0; } }

.field--name-field-featured-report-subtitle {
  font-family: 'Lora', serif;
  font-size: 1.125rem;
  margin: 0 0 49px 0; }
  @media screen and (max-width: 768px) {
    .field--name-field-featured-report-subtitle {
      font-size: 0.8125rem;
      margin: 0 0 35px; } }

.field--name-field-featured-report-button a {
  background-color: #ffcc05;
  color: #431D16;
  display: inline;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.875rem 2.1875rem;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .field--name-field-featured-report-button a {
      font-size: 0.6875rem;
      margin: 0 0 10px 0;
      padding: 0.6875rem 1.71875rem; } }

/*Sponsors*/
.field-group-sponsors-primary {
  display: inline-block;
  width: 45%; }
  @media screen and (max-width: 768px) {
    .field-group-sponsors-primary {
      display: block;
      text-align: center;
      width: 100%; } }
  .field-group-sponsors-primary .field--name-field-sponsors-primary__label {
    color: #00264b;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 30px 0; }
    @media screen and (max-width: 768px) {
      .field-group-sponsors-primary .field--name-field-sponsors-primary__label {
        font-weight: 0.875rem;
        margin: 0 0 25px 0; } }
  @media screen and (max-width: 768px) {
    .field-group-sponsors-primary .component-sponsor {
      padding: 0 0 25px 0; } }

.field-group-sponsors-secondary {
  display: inline-block;
  width: 45%; }
  @media screen and (max-width: 768px) {
    .field-group-sponsors-secondary {
      display: block;
      text-align: center;
      width: 100%; } }
  .field-group-sponsors-secondary div.field__item {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .field-group-sponsors-secondary div.field__item {
        display: block; } }
    .field-group-sponsors-secondary div.field__item div {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .field-group-sponsors-secondary div.field__item div {
          display: block; } }
  .field-group-sponsors-secondary .field--name-field-sponsors-secondary-label {
    color: #00264b;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .field-group-sponsors-secondary .field--name-field-sponsors-secondary-label {
        font-weight: 0.875rem;
        margin: 0 0 25px 0; } }
  .field-group-sponsors-secondary .component-sponsor {
    margin: 0 40px 0 0;
    padding: 0 40px 0 0; }
    @media screen and (max-width: 768px) {
      .field-group-sponsors-secondary .component-sponsor {
        margin: 0 0 0 0;
        padding: 0 0 25px 0; } }

/*Highlight*/
.field--name-field-highlight-media {
  line-height: 0; }
  .field--name-field-highlight-media img {
    height: auto;
    line-height: 0px;
    object-fit: cover;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .field--name-field-highlight-media img {
        object-fit: contain; } }

.field--name-field-highlight-title {
  color: #0f284a;
  font-size: 1.375rem;
  font-weight: 600;
  margin: 0 0 25px 0; }
  @media screen and (max-width: 768px) {
    .field--name-field-highlight-title {
      font-size: 1.5rem;
      margin: 0 0 24px 0; } }

.field--name-field-highlight-text {
  font-size: 1.125rem;
  margin: 0 0 63px 0; }
  @media screen and (max-width: 768px) {
    .field--name-field-highlight-text {
      font-size: 0.75rem;
      margin: 0 0 35px 0; } }

.field--name-field-highlight-button a {
  background-color: #0c57aa;
  color: white;
  font-size: 0.8125rem;
  padding: 0.8125rem 2.03125rem;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .field--name-field-highlight-button a {
      font-size: 0.6875rem;
      padding: 0.6875rem 1.875rem; } }

/*Testimonial*\
*[1]   her hair starts to get chopped off around 1745px wide
*[2]   This takes care of white space at btm of img file, probably need to remove later
**/
.field--name-field-testimonial-quote {
  color: #00264b;
  font-family: 'Lora';
  font-size: 1.0625rem;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.00625rem;
  line-height: 2.125rem;
  margin: 0 0 30px 0; }
  .field--name-field-testimonial-quote::before {
    content: '\201C'; }
  .field--name-field-testimonial-quote::after {
    content: '\201D'; }
  @media screen and (max-width: 768px) {
    .field--name-field-testimonial-quote {
      margin: 0 0 26px 0;
      text-align: center; } }

.field--name-field-testimonial-author {
  color: #5f5f5f;
  font-family: 'Montserrat';
  font-size: 0.9375rem;
  font-weight: 600;
  margin: 0 0 12px 0;
  text-align: center; }
  .field--name-field-testimonial-author::before {
    content: '\2013';
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 5px;
    padding: 3px 0 0 0; }
  @media screen and (max-width: 768px) {
    .field--name-field-testimonial-author {
      margin: 0 0 7px 0; } }

.field--name-field-testimonial-credentials {
  font-size: 0.6875rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.field--name-field-testimonial-image img {
  bottom: 15%;
  height: 115%;
  object-fit: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .field--name-field-testimonial-image img {
      bottom: -7px; } }

/*Media*/
.field--name-field-media-media img {
  height: 350px;
  object-fit: cover;
  width: 100%; }

/*Heading*/
.field--name-field-heading-heading {
  color: #00264b;
  font-size: 1.5625rem;
  font-weight: 600; }

/*Pull Quote*/
.field--name-field-pull-quote-quote {
  color: #79111b;
  font-family: 'Lora';
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.00625rem;
  line-height: 3rem;
  margin: 0 0 25px 0;
  text-align: center; }
  .field--name-field-pull-quote-quote::before {
    content: '\201C'; }
  .field--name-field-pull-quote-quote::after {
    content: '\201D'; }

.field--name-field-pull-quote-author {
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 600; }
  .field--name-field-pull-quote-author::before {
    content: '\2013'; }
  .field--name-field-pull-quote-author::after {
    content: '\002C'; }

.field--name-field-pull-quote-credentials {
  display: inline-block;
  font-size: 0.6875rem;
  text-transform: uppercase; }

/*Infographic*/
.field--name-field-infographic-image {
  width: 100%; }
  .field--name-field-infographic-image img {
    max-width: 100%;
    object-fit: cover;
    width: 100%; }

.share-and-download-wrapper {
  bottom: 0;
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  z-index: 99; }
  @media screen and (max-width: 768px) {
    .share-and-download-wrapper {
      transform: translateY(-150%); } }

.field--name-field-infographic-caption {
  font-family: 'Lora';
  font-size: 0.75rem; }

body .gutter__xsm_top {
  padding-top: 0.625rem; }

body .gutter__xsm_bottom {
  padding-top: 0.625rem; }

body .gutter__xsm_top-bottom {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }

body .gutter__sm_top {
  padding-top: 1.25rem; }

body .gutter__sm_bottom {
  padding-top: 1.25rem; }

body .gutter__sm_top-bottom {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

body .gutter__md_top {
  padding-top: 3.125rem; }

body .gutter__md_bottom {
  padding-top: 3.125rem; }

body .gutter__md_top-bottom {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }

body .gutter__lg_top {
  padding-top: 4.375rem; }

body .gutter__lg_bottom {
  padding-top: 4.375rem; }

body .gutter__lg_top-bottom {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem; }

body .gutter__xlg_top {
  padding-top: 6.25rem; }

body .gutter__xlg_bottom {
  padding-top: 6.25rem; }

body .gutter__xlg_top-bottom {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem; }

/*# sourceMappingURL=style.css.map */
