html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #00afef;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "open-sans";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #008cbf;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #00afef; }

fieldset {
  background-color: #f4f5f5;
  border: 1px solid #d4d5d6;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "open-sans";
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #d4d5d6;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "open-sans";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #aaaaab; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #00afef;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 156, 214, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #d4d5d6; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #9fa0a1;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #d4d5d6;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans/opensans/opensans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans/opensans.woff2") format("woff2"), url("../fonts/opensans/opensans/opensans.woff") format("woff"); }
body {
  color: #5f6062;
  font-family: "open-sans";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open-sans";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #00afef;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #0083b3; }

hr {
  border-bottom: 1px solid #d4d5d6;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

div.error {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background: #fbe3e4;
  border: 0;
  color: #97161b;
  text-align: center; }
  div.error a {
    color: #6a0f13;
    border-bottom: 1px solid rgba(106, 15, 19, 0.3); }
    div.error a:hover {
      color: #110203; }

div.status {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background: #e6efc2;
  border: 0;
  color: #56651a;
  text-align: center; }
  div.status a {
    color: #333c10;
    border-bottom: 1px solid rgba(51, 60, 16, 0.3); }
    div.status a:hover {
      color: black; }

div.warning {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background: #fff6bf;
  border: 0;
  color: #8c7800;
  text-align: center; }
  div.warning a {
    color: #594c00;
    border-bottom: 1px solid rgba(89, 76, 0, 0.3); }
    div.warning a:hover {
      color: black; }

.sliding-panel-button,
.sliding-panel-close {
  display: none; }
  @media screen and (max-width: 1024px) {
    .sliding-panel-button,
    .sliding-panel-close {
      display: block; } }

@media screen and (max-width: 1024px) {
  .sliding-panel-content {
    display: block;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 220px;
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999; }
    .sliding-panel-content.is-visible {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }

.sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999; }
  .sliding-panel-fade-screen.is-visible {
    opacity: 0.4;
    visibility: visible; }

#tabs {
  line-height: 1.5;
  padding: 0; }
  #tabs::after {
    clear: both;
    content: "";
    display: table; }
  #tabs ul {
    padding: 0;
    border-color: #d4d5d6; }
  #tabs li {
    list-style: none; }
    @media screen and (min-width: 960px) {
      #tabs li {
        display: inline; } }
  #tabs a {
    background-color: #fff;
    border-top: 1px solid #d4d5d6;
    color: #5f6062;
    display: block;
    font-weight: 400;
    padding: 0.75em 1.618em;
    text-decoration: none; }
    @media screen and (min-width: 960px) {
      #tabs a {
        display: inline-block;
        border: 0; } }
    #tabs a:hover {
      color: #00afef; }
    #tabs a:focus {
      outline: none; }
    #tabs a.active {
      border-bottom: 0; }
      @media screen and (min-width: 960px) {
        #tabs a.active {
          border: 1px solid #d4d5d6;
          border-bottom-color: #fff;
          margin-bottom: -1px; } }

header {
  background: #d4d5d6;
  min-height: 100px;
  padding-top: 29px;
  position: relative; }

.region-header {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px; }

.region .inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em; }
  .region .inner::after {
    clear: both;
    content: "";
    display: table; }

body .gutter__xsm_top {
  padding-top: 0.625rem; }

body .gutter__xsm_bottom {
  padding-top: 0.625rem; }

body .gutter__xsm_top-bottom {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }

body .gutter__sm_top {
  padding-top: 1.25rem; }

body .gutter__sm_bottom {
  padding-top: 1.25rem; }

body .gutter__sm_top-bottom {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

body .gutter__md_top {
  padding-top: 3.125rem; }

body .gutter__md_bottom {
  padding-top: 3.125rem; }

body .gutter__md_top-bottom {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }

body .gutter__lg_top {
  padding-top: 4.375rem; }

body .gutter__lg_bottom {
  padding-top: 4.375rem; }

body .gutter__lg_top-bottom {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem; }

body .gutter__xlg_top {
  padding-top: 6.25rem; }

body .gutter__xlg_bottom {
  padding-top: 6.25rem; }

body .gutter__xlg_top-bottom {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem; }

/*# sourceMappingURL=style.css.map */
