{% extends 'region.html.twig' %}
{% block content %}
  {% if content %}
    <header{{ attributes.addClass(classes) }}><div class="inner">
      {{ content }}
      <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div></header>
  {% endif %}
{% endblock %}
