// Videos page node
div[data-quickedit-field-id="node/40/field_page_sections/en/full"] {
  // width: 908px;
  // margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 960px;
  margin: 0 auto;

  &>.field__item {
    position: relative;
    width: 100%;
  }
  &>.field__item:first-child {
    width: 60%;
  }
  &>.field__item:nth-child(2) {
    width: 40%;
    max-height: 450px;
  }

}